In [31]:
# importing the module
import pandas

# reading the files
f1 = pandas.read_excel("train_annotated.xlsx")
f2 = pandas.read_excel("Iclr 2020.xlsx")

In [32]:
f1.head()

,Unnamed: 0,text,BI01,BIO2,Type,ID_L,WebID
0,0.0,<sep> The experiments are conducted on CIFAR-1...,O,O,Review,430.0,rytNfI1AZ
1,1.0,<sep> <sep> +the paper reads well,O,O,Review,430.0,rytNfI1AZ
2,2.0,NaN,B-Review,B-1,Review,430.0,rytNfI1AZ
3,3.0,<sep> Perhaps the authors should make it clear...,B-Review,B-2,Review,430.0,rytNfI1AZ
4,4.0,"Here, we report methodological innovations tha...",I-Review,I-2,Review,430.0,rytNfI1AZ

In [33]:
f1.rename(columns = {'WebID':'Paper_ID'}, inplace = True)

In [35]:
f1.head()

,Unnamed: 0,text,BI01,BIO2,Type,ID_L,Paper_ID
0,0.0,<sep> The experiments are conducted on CIFAR-1...,O,O,Review,430.0,rytNfI1AZ
1,1.0,<sep> <sep> +the paper reads well,O,O,Review,430.0,rytNfI1AZ
2,2.0,NaN,B-Review,B-1,Review,430.0,rytNfI1AZ
3,3.0,<sep> Perhaps the authors should make it clear...,B-Review,B-2,Review,430.0,rytNfI1AZ
4,4.0,"Here, we report methodological innovations tha...",I-Review,I-2,Review,430.0,rytNfI1AZ

In [36]:
f2.head()

,Unnamed: 0,Paper_ID,Paper_Title,R1_Rec,R1_Length,R1_Conf,R1_EA,R1_RA_D&T,R1_RA_EXP,R1_RA_READ,...,R4_RA_READ,R5_Rec,R5_Length,R5_EA,R5_RA_D&T,R5_RA_EXP,R5_RA_READ,Unnamed: 36,MR_Length,Decision
0,NaN,Paper_ID,Paper_Title,R1_Rec,R1_Length,NaN,R1_EA,R1_RA_D&T,R1_RA_EXP,R1_RA_READ,...,R4_RA_READ,R5_Rec,R5_Length,R5_EA,R5_RA_D&T,R5_RA_EXP,R5_RA_READ,Meta_Review?,MR_Length,Decision
1,NaN,r1x0lxrFPS,NaN,6.0,727.0,NaN,I have read many papers in this area.,I assessed the sensibility of the derivations ...,I assessed the sensibility of the experiments.,I read the paper at least twice and used my be...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,25.0,Accept (Poster)
2,NaN,r1e_FpNFDr,NaN,6.0,483.0,NaN,I have published in this field for several years.,I assessed the sensibility of the derivations ...,I assessed the sensibility of the experiments.,I read the paper thoroughly.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,809.0,Accept (Poster)
3,NaN,HJezF3VYPB,NaN,6.0,370.0,NaN,I have published in this field for several years.,I assessed the sensibility of the derivations ...,I assessed the sensibility of the experiments.,I read the paper at least twice and used my be...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,82.0,Accept (Poster)
4,NaN,BkepbpNFwr,NaN,6.0,741.0,NaN,I have published one or two papers in this area.,I assessed the sensibility of the derivations ...,I carefully checked the experiments.,I read the paper at least twice and used my be...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,137.0,Accept (Poster)

In [37]:
# merging the files
f3 = f1[["Paper_ID",
		"text"]].merge(f2[["Paper_ID",
										"R1_Rec", "R1_Length",
										"R1_Conf", "R2_Rec", "R2_Length",
										"R2_Conf", "R3_Rec", "R3_Length",
										"R3_Conf", "MR_Length", "Decision"]],
									on = "Paper_ID",
									how = "left")

# creating a new file
f3.to_excel("Iclr_2020.xlsx", index = False)

In [39]:
f3=pandas.read_excel("Iclr_2020.xlsx")

In [30]:
f3.head(1000)

,Paper_ID,text,R1_Rec,R1_Length,R1_Conf,R2_Rec,R2_Length,R2_Conf,R3_Rec,R3_Length,R3_Conf,MR_Length,Decision
0,rytNfI1AZ,<sep> The experiments are conducted on CIFAR-1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,rytNfI1AZ,<sep> <sep> +the paper reads well,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,rytNfI1AZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,rytNfI1AZ,<sep> Perhaps the authors should make it clear...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,rytNfI1AZ,"Here, we report methodological innovations tha...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,r1MmH30cY7,"<sep> - In section 3, it is not clear which pa...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,r1MmH30cY7,It would be great to add some references and c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,r1MmH30cY7,"<sep> - In section 3, it is not clear to me ho...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,r1MmH30cY7,<sep> - Algorithm 1 and 2 are not given in the...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,r1MmH30cY7,This should be explicitly mentioned.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
f4=pandas.read_excel("iclr_2018.xlsx")

In [21]:
f4.head(700)

,Paper_ID,text,R1_Rec,R1_Length,R1_Conf,R2_Rec,R2_Length,R2_Conf,R3_Rec,R3_Length,R3_Conf,MR_Length,Decision
0,rytNfI1AZ,<sep> The experiments are conducted on CIFAR-1...,6.0,70.0,4.0,6.0,187.0,3.0,6.0,116.0,4.0,43.0,Accept (Poster)
1,rytNfI1AZ,<sep> <sep> +the paper reads well,6.0,70.0,4.0,6.0,187.0,3.0,6.0,116.0,4.0,43.0,Accept (Poster)
2,rytNfI1AZ,NaN,6.0,70.0,4.0,6.0,187.0,3.0,6.0,116.0,4.0,43.0,Accept (Poster)
3,rytNfI1AZ,<sep> Perhaps the authors should make it clear...,6.0,70.0,4.0,6.0,187.0,3.0,6.0,116.0,4.0,43.0,Accept (Poster)
4,rytNfI1AZ,"Here, we report methodological innovations tha...",6.0,70.0,4.0,6.0,187.0,3.0,6.0,116.0,4.0,43.0,Accept (Poster)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,BklEF3VFPB,DAN<tab>43.6<tab>57.0<tab>67.9<tab>45.8<tab>56...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
696,BklEF3VFPB,DANN<tab>45.6<tab>59.3<tab>70.1<tab>47.0<tab>5...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
697,BklEF3VFPB,JAN<tab>45.9<tab>61.2<tab>68.9<tab>50.4<tab>59...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698,BklEF3VFPB,CDAN<tab>49.0<tab>69.3<tab>74.5<tab>54.4<tab>6...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
699,BklEF3VFPB,MDAT<tab>51.3<tab>69.7<tab>76.2<tab>59.5<tab>6...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN